

<div class="table-responsive " data-pattern="priority-columns">
    <table cellspacing="0" id="" class="table table-small-font table-bordered data_table">

        <tbody>
            @foreach (var item in ViewBag.Liste)
            {

                <tr>
                    @if (item.ADRESS_DOC_GED != null)
                    {
                        <td>
                            <a href="@item.ADRESS_DOC_GED" target="_blank">@item.LIBELLE_GED  @item.LIBELLE2_GED</a>
                        </td>

                    }
                    else
                    {
                        <td>
                            <p>@item.LIBELLE_GED  @item.LIBELLE2_GED</p>
                        </td>
                    }
                </tr>

            }
        </tbody>
    </table>
</div>
