<!--Detail Adhérent-->


<div class="box box-solid box-primary">
    <div class="box-header with-border">
        <h3 class="box-title" style="font-size:medium"> <i class="fa fa-fw fa-file-text-o"></i> <b>Information sur le contrat de @ViewBag.ListeDesDetailes.ind.NOM_IND</b></h3>

        <!-- /.box-tools -->
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <div class="col-lg-4">
            <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Reférence Xpert-Factor :
                    <span class="badge badge-primary badge-pill">@ViewBag.ListeDesDetailes.contrat.REF_CTR</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Réf Contrat Papier :
                    <span class="badge badge-pill">@ViewBag.ListeDesDetailes.contrat.REF_CTR_PAPIER_CTR</span>
                </li>
                
            </ul>

        </div>
        <div class="col-lg-4">

            <ul class="list-group">
               
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Statut contrat  :
                    <span class="badge badge-primary badge-pill">@TempData["StatuContrat"]</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Type contrat :
                    <span class="badge badge-primary badge-pill">@TempData["Type_Ctr"]</span>
                </li>
              
            </ul>

        </div>
        <div class="col-lg-4">
            <ul class="list-group">
               
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Limite de financement :
                    <span class="badge badge-primary badge-pill">@ViewBag.ListeDesDetailes.contrat.LIM_FIN_CTR</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Devise :
                    <span class="badge badge-primary badge-pill">@ViewBag.ListeDesDetailes.contrat.DEVISE_CTR</span>
                </li>
            </ul>


        </div>

    </div>
    <!-- /.box-body -->
    <div class="box-footer">

    </div>
    <!-- box-footer -->
</div>
<!-- /.box -->





<div class="row">
    <div class="col-md-6">


        <div class="box box-solid box-primary">
            <div class="box-header with-border">
                <h3 class="box-title" style="font-size:medium"> <i class="fa fa-fw fa-file-text-o"></i> <b>Information sur l'adhérent @ViewBag.ListeDesDetailes.ind.NOM_IND</b></h3>

                <!-- /.box-tools -->
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div class="col-lg-12">
                    <ul class="list-group">
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Nom  et Prenom:
                            <span class="badge badge-primary badge-pill">@ViewBag.ListeDesDetailes.ind.NOM_IND  @ViewBag.ListeDesDetailes.ind.PRE_IND</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Adresse :
                            <span class="badge badge-pill">@ViewBag.ListeDesDetailes.ind.ADR_IND</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Telephone  :
                            <span class="badge badge-primary badge-pill">@ViewBag.ListeDesDetailes.ind.TEL_IND</span>
                        </li>
                       
                    </ul>

                </div>
                

            </div>
            <!-- /.box-body -->
            <div class="box-footer">

            </div>
            <!-- box-footer -->
        </div>
     </div>
    <div class="col-md-6">


        <div class="box box-solid box-primary">
            <div class="box-header with-border">
                <h3 class="box-title" style="font-size:medium"> <i class="fa fa-fw fa-file-text-o"></i> <b>Information sur l'adhérent @ViewBag.ListeDesDetailes.ind.NOM_IND</b></h3>

                <!-- /.box-tools -->
            </div>
            <!-- /.box-header -->
            <div class="box-body">
               
                <div class="col-lg-12">
                    <ul class="list-group">
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Encours de Factures :
                            <span class="badge badge-primary badge-pill">@ViewBag.ListeDesDetailes.finacnement.Encours_Facture</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Total Financement :
                            <span class="badge badge-pill">@ViewBag.ListeDesDetailes.finacnement.Total_Financement</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Dépassement de Limite de Financement Acheteurs  :
                            <span class="badge badge-primary badge-pill">@ViewBag.ListeDesDetailes.finacnement.Depass_Limite</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Litige  :
                            <span class="badge badge-primary badge-pill">@TempData["Litige"]</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Total Disponible  :
                            <span class="badge badge-primary badge-pill">@ViewBag.ListeDesDetailes.finacnement.Disponible</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Total Disponible 2 :
                            <span class="badge badge-primary badge-pill">@TempData["Dispo2"]</span>
                        </li>
                    </ul>


                </div>
                
                </div>

            </div>
            <!-- /.box-body -->
            <div class="box-footer">

            </div>
            <!-- box-footer -->
        </div>
    </div>
    


        @*
            <div class="row">
                <div class="col-md-12">
                    <div class="box box-default">
                        <div class="box-header with-border titleprghp">
                            <h3 class="box-title">Details de  @ViewBag.ListeDesDetailes.ind.NOM_IND) </h3>
                            <div class="box-tools pull-right">
                                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                            </div>
                        </div>
                        <div class="box-body">
                            <div class="col-lg-12 col-md-12">
                                <ul class="nav nav-tabs">
                                    <li class="active"><a data-toggle="tab" href="#Summery" class="bg-dark text-white"><i class="fa fa-indent"></i> <b>Info d individu </b> </a></li>
                                    <li><a data-toggle="tab" href="#Address" class="bg-dark text-white"><b> autres informations</b> </a></li>
                                    <li><a data-toggle="tab" href="#Contact" class="bg-dark text-white"> <b> Autres Contacts  </b> </a></li>
                                    <li><a data-toggle="tab" href="#weblogin" class="bg-dark text-white"> <b> Login web </b> </a></li>
                                    <li><a data-toggle="tab" href="#ribliste" class="bg-dark text-white"> <b> Liste  rib </b> </a></li>
                                </ul>
                                <div class="tab-content">
                                    <div id="Summery" class="tab-pane fade in active">

                                        <div class="table-responsive panel">
                                            <table class="table">
                                                <tbody>

                                                    <tr>
                                                        <td class="">  <b>Forme juridique : </b> </td>
                                                        <td>@TempData["FormJuridique"]</td>

                                                    </tr>
                                                    <tr>
                                                        <td class=""> <b>Dénomination : </b> </td>
                                                        <td>@ViewBag.ListeDesDetailes.ind.NOM_IND</td>
                                                        <td class=""> <b> Nom commercial : </b></td>
                                                        <td>@ViewBag.ListeDesDetailes.ind.PRE_IND</td>
                                                    </tr>

                                                    <tr>
                                                        <td class=""><b>Registre de commerce : </b></td>
                                                        <td>@ViewBag.ListeDesDetailes.ind.NUM_DOC_ID_IND</td>
                                                        <td class=""><b>Lieu : </b></td>
                                                        <td>@ViewBag.ListeDesDetailes.ind.LIEU_DOC_ID_IND</td>
                                                    </tr>
                                                    <tr>
                                                        <td class=""><b>Date de création : </b></td>
                                                        <td>@ViewBag.ListeDesDetailes.ind.DATE_DOC_ID_IND</td>
                                                        <td class=""><b>Langue :  </b></td>
                                                        <td>@TempData["langue"]</td>
                                                        <td class=""> <b> Code Acheteur  : </b></td>
                                                        <td>
                                                            @ViewBag.ListeDesDetailes.ind.REF_ACH_IND
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class=""><b>Activité : </b></td>
                                                        <td>
                                                            @ViewBag.ListeDesDetailes.ind.COD_SCLAS
                                                        </td>
                                                        <td class=""> <b> Code TVA  : </b></td>
                                                        <td>
                                                            @ViewBag.ListeDesDetailes.ind.COD_TVA_IND
                                                        </td>
                                                        <td class=""> <b> Code Adhérent  : </b></td>
                                                        <td>
                                                            @ViewBag.ListeDesDetailes.ind.REF_ADH_IND
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class=""><b>Exonération TVA : </b></td>
                                                        <td>
                                                            @ViewBag.ListeDesDetailes.ind.EXO_TVA
                                                        </td>
                                                        <td class=""> <b> Date Debut Exonération TVA : </b></td>
                                                        <td>
                                                            @ViewBag.ListeDesDetailes.ind.DAT_DEB_EXO
                                                        </td>
                                                        <td class=""> <b> Date Fin Exonération TVA : </b></td>
                                                        <td>
                                                            @ViewBag.ListeDesDetailes.ind.DAT_FIN_EXO
                                                        </td>
                                                    </tr>

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div id="Address" class="tab-pane fade">
                                        <div class="table-responsive panel">
                                            <table class="table">
                                                <tbody>

                                                    <tr>
                                                        <td class=""><b>Address</b></td>
                                                        <td>
                                                            <address>
                                                                @ViewBag.ListeDesDetailes.ind.ADR_IND
                                                            </address>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class=""><b> Ville et code postale : </b></td>
                                                        <td>
                                                            <b>  @TempData["codepostale"] </b> &nbsp;&nbsp;
                                                            @ViewBag.ListeDesDetailes.ind.CP_IND

                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class=""><b>Telephone  :</b></td>
                                                        <td>

                                                            @ViewBag.ListeDesDetailes.ind.TEL_IND

                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class=""><b>Fax  :</b></td>
                                                        <td>
                                                            @ViewBag.ListeDesDetailes.ind.FAX_IND
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class=""><b>Email :</b></td>
                                                        <td>
                                                            @ViewBag.ListeDesDetailes.ind.EMAIL_IND
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>

                                    @*<div id="Contact" class="tab-pane fade">
                                            <div class="table-responsive panel">
                                                <table class="table">
                                                    @if (i % 2 == 0) { backgroundTR = "bg-info"; }
                                                    else { backgroundTR = ""; }
                                                    <thead>
                                                        <tr class="bg-info">
                                                            <th>Numero Contact</th>
                                                            <th>Nom et Prenom</th>
                                                            <th colspan="2">Téléphones</th>
                                                            <th colspan="2">Email</th>
                                                            <th>Fax</th>
                                                            <th>Etat</th>

                                                        </tr>
                                                        @foreach (var item in ViewBag.ListContact)
                                                        {
                                                            <tr class="@backgroundTR">
                                                                <td>@i</td>
                                                                <td>@item.NOM_PRE_CONTACT</td>
                                                                <td>@item.TEL1_CONTACT</td>
                                                                <td>@item.TEL2_CONTACT</td>
                                                                <td>@item.MAIL1_COONTACT</td>
                                                                <td>@item.MAIL2_COONTACT</td>
                                                                <td>@item.FAX_CONTACT</td>
                                                                @if (item.ACTIF_CONTACT == true)
                                                                {
                                                                    <td>Actif</td>}
                                                                else
                                                                {
                                                                    <td>Non Actif</td> }


                                                            </tr>
                                                            i++;
                                                        }
                                                    </thead>
                                                    <tbody></tbody>
                                                </table>
                                            </div>
                                        </div>


                                        <div id="weblogin" class="tab-pane fade">
                                            <div class="table-responsive panel">
                                                <table class="table">
                                                    @if (i % 2 == 0) { backgroundTR = "bg-info"; }
                                                    else { backgroundTR = ""; }
                                                    <thead>
                                                        <tr class="bg-info">
                                                            <th>Login</th>
                                                            <th>mot de passe</th>
                                                            <th>Etat</th>
                                                        </tr>
                                                        @foreach (var item in ViewBag.logweb)
                                                        {
                                                            <tr class="@backgroundTR">
                                                                <td>@item.LOGIN_WEB</td>
                                                                <td>@item.PASSWORD_WEB</td>
                                                                @if (item.ACTIF_USER_WEB == true)
                                                                {
                                                                    <td>Actif</td>}
                                                                else
                                                                {
                                                                    <td>Non Actif</td> }


                                                            </tr>
                                                            i++;
                                                        }
                                                    </thead>
                                                    <tbody></tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div id="ribliste" class="tab-pane fade">
                                            <div class="table-responsive panel">
                                                <table class="table">
                                                    @if (i % 2 == 0) { backgroundTR = "bg-info"; }
                                                    else { backgroundTR = ""; }
                                                    <thead>
                                                        <tr class="bg-info">
                                                            <th>#</th>
                                                            <th>Rib</th>
                                                            <th>Banque</th>
                                                            <th>Agence</th>
                                                            <th>Etat</th>
                                                        </tr>
                                                        @foreach (var item in ViewBag.listerib)
                                                        {
                                                            <tr class="@backgroundTR">
                                                                <td>@i</td>
                                                                <td>@item.rib</td>
                                                                <td>@item.banque</td>
                                                                <td>@item.agence</td>
                                                                @if (item.etat == true)
                                                                {
                                                                    <td>Actif</td>}
                                                                else
                                                                {
                                                                    <td>Non Actif</td> }


                                                            </tr>
                                                            i++;
                                                        }
                                                    </thead>
                                                    <tbody></tbody>
                                                </table>
                                            </div>
                                        </div>
                               <!--
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>






            <div class="row">
                <div class="col-md-12">
                    <div class="box box-default">
                        <div class="box-header with-border">
                            <h3 class="box-title">Details de  Financement @ViewBag.ListeDesDetailes.ind.NOM_IND) </h3>
                            <div class="box-tools pull-right">
                                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                            </div>
                        </div>
                        <div class="box-body">
                            <div class="col-lg-12 col-md-12">
                                <ul class="nav nav-tabs">
                                    <li class="active"><a data-toggle="tab" href="#Summery" class="bg-dark text-white"><i class="fa fa-indent"></i> <b>Detaile </b> </a></li>
                                </ul>
                                <div class="tab-content">
                                    <div id="Summery" class="tab-pane fade in active">

                                        <div class="table-responsive panel col-sm-4">
                                            <table class="table">
                                                <tbody>

                                                    <tr>
                                                        <td class="">  <b>Encours de Factures : </b> </td>
                                                        <td>@ViewBag.ListeDesDetailes.finacnement.Encours_Facture</td>

                                                    </tr>
                                                    <tr>
                                                        <td class=""> <b>Fonds de Garantie : </b> </td>
                                                        <td>@ViewBag.ListeDesDetailes.finacnement.Toatl_FDG</td>

                                                    </tr>
                                                    <tr>
                                                        <td class=""> <b> Dépassement de Limite de Financement Acheteurs : </b></td>
                                                        <td>@ViewBag.ListeDesDetailes.finacnement.Depass_Limite</td>
                                                    </tr>
                                                    <tr>
                                                        <td class=""><b>Total Intéret TTC: </b></td>
                                                        <td>@ViewBag.ListeDesDetailes.finacnement.Total_IR_annee</td>

                                                    </tr>
                                                    <tr>
                                                        <td class=""><b>Total Intéret de retard TTC : </b></td>
                                                        <td>@ViewBag.ListeDesDetailes.finacnement.Total_IR_All_annee</td>
                                                    </tr>
                                                    <tr>
                                                        <td class=""><b>Total Disponible : </b></td>
                                                        <td>@ViewBag.ListeDesDetailes.finacnement.Disponible</td>

                                                    </tr>

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>


        *@

