@using xfactor.Models
@{ 
    XFactor_PRODEntities1 db = new XFactor_PRODEntities1();

}
<header class="main-header">
    @* BEGIN Logo *@
    <a href="@Url.Action("Index", "Home")" class="logo">
        @* Mini logo for sidebar 50x50 pixels *@
        <span class="logo-mini"><b>X</b>F</span>
        @* Logo for regular state and mobile devices *@
        <span class="logo-lg"><b>Xpert</b>Factor</span>
    </a>
    @* END Logo *@
    @* BEGIN Header *@
    
    <nav class="navbar navbar-static-top" role="navigation">
        <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                @* BEGIN Messages *@
                @*<li class="dropdown messages-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-envelope-o"></i>
                        <span class="label label-success">4</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="header">You have 4 messages</li>
                        <li>
                            <ul class="menu">
                                <li>
                                    <a href="#">
                                        <div class="pull-left">
                                            <img src="@Session["img"]" class="img-circle" alt="User Image">
                                        </div>
                                        <h4>
                                            Support Team
                                            <small><i class="fa fa-clock-o"></i> 5 mins</small>
                                        </h4>
                                        <p>Why not buy a new awesome theme?</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="footer"><a href="#">See All Messages</a></li>
                    </ul>
                </li>*@
                @* END Messages *@
                @* BEGIN Notifications *@
               <li class="dropdown notifications-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-bell-o"></i>
                        <span class="label label-warning" id="counternotif"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="header" >vous avez  notifications</li>
                        <li>
                            <ul class="menu" id="menu_notfi">
                              
                            </ul>
                        </li>
                        <li class="footer"><a  style="cursor:pointer" class="bg-aqua" data-toggle="modal" data-target="#myModal10" >View all</a></li>
                    </ul>
                </li>
                @* END Notifications *@
                @* BEGIN Tasks *@
              @*  <li class="dropdown tasks-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-flag-o"></i>
                        <span class="label label-danger">9</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="header">You have 9 tasks</li>
                        <li>
                            <ul class="menu">
                                <li>
                                    <a href="#">
                                        <h3>
                                            Design some buttons
                                            <small class="pull-right">20%</small>
                                        </h3>
                                        <div class="progress xs">
                                            @* Change the css width attribute to simulate progress 
                                            <div class="progress-bar progress-bar-aqua" style="width: 20%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                                <span class="sr-only">20% Complete</span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="footer">
                            <a href="#">View all tasks</a>
                        </li>
                    </ul>
                </li>*@
                @* END Tasks *@
                @* BEGIN User Account Menu *@
                <li class="dropdown user user-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <img  src="@Session["img"]" class="user-image" alt="User Image">
                        <span class="hidden-xs">@if (Session["UserLogin"] != null){ @Session["UserLogin"]; } </span>
</a>


<ul class="dropdown-menu">
                        <li class="user-header">
                            <img  src="@Session["img"]" class="img-circle" alt="User Image">

                            <p>
                              @if (Session["UserLogin"] != null)
                              { @Session["UserLogin"];
                              }
                        
                            </p>
                        </li>
                        <li class="user-body">

                        </li>
                        <li class="user-footer">
                           
                            <div class="pull-right">
                                <a href="/Login/LogOut" class="btn btn-default btn-flat">Deconnecter</a>
                            </div>
                        </li>
                    </ul>
                </li>
                @* END User Account Menu *@
                @* BEGIN Control Sidebar Toggle Button *@
                <li>
                    <a href="#" id="Recherche"><i class="fa fa-search"></i></a>
                </li>
                @* END Control Sidebar Toggle Button *@
            </ul>
        </div>
    </nav>
</header>


<div id="myModal10" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Les Notifications </h4>
            </div>
            <div class="modal-body">
                <div class="list-group">





                    @foreach (var item in db.T_RELANCE.Where(e => e.DATE_RELANCE == DateTime.Today && e.VALIDE_RELANCE == false))
                    {
                        <a href="#" class="list-group-item list-group-item-action"><i class="fa fa-users text-aqua"></i>  @item.LIBELLE_RELANCE.Split(':')[0]  : <span class="label label-success">@item.LIBELLE_RELANCE.Split(':')[1]</span>   </a>
                    }


                </div>
            </div>

          
        </div>

    </div>
</div>