
@{
    ViewBag.Title = "ValiderBordereau";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    tbody > tr:hover, tbody > tr.selected {
        background-color: dodgerblue;
        color: white;
        cursor: pointer;
        -webkit-box-shadow: 0 0 5px 2px rgba(0, 0, 0, .5);
        box-shadow: 0 0 5px 2px rgba(0, 0, 0, .5);
        border-radius: 5px;
    }
</style>
@section header {

    <h1>
        Bordereaux

    </h1>
    <ol class="breadcrumb">
        <li><a href="/Home/Index"><i class="fa fa-dashboard"></i> Accueil</a></li>
        <li class="active"> Bordereaux </li>
        <li class="active">Valider Bordereau</li>
    </ol>
}



@if (TempData["notice"] != null)
{
    <div class="alert alert-success alert-dismissible fade in" id="success-alert">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong> @TempData["notice"] !</strong>
    </div>
}



<div class="row">
    <div class="col-lg-12">
        <div class="box box-default">
            <div class="box-header with-border titleprghp">
                <h3 class="box-title">Validation Bordereau En Cours</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                </div>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="table-responsive " data-pattern="priority-columns">
                            <table cellspacing="0" id="validBord" class="table table-small-font table-bordered ">
                                <thead>

                                    <tr class="bg-primary">
                           
                                        <th data-priority="3"><center>Numéro Bodereau</center></th>
                                        <th data-priority="1">Réf Contart</th>
                                        <th data-priority="1"><center>Nom Adhérent</center></th>
                                        <th data-priority="1"><center>Nomber Documents</center></th>
                                        <th data-priority="1"><center>Montant Total</center></th>
                                        <th data-priority="3"><center>Date Saisie</center></th>
                                        <th data-priority="1"><center>#</center></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in ViewBag.validbdr)
                                    {
                                        <tr data-numbord="@item.NUM_BORD" data-refctr="@item.REF_CTR_BORD" data-anne="@item.ANNEE_BORD">
                                            <td>
                                                @item.NUM_BORD
                                            </td>
                                            <td>
                                                @item.REF_CTR_BORD
                                            </td>
                                            <td>
                                                @item.Nom_ADH
                                            </td>
                                            <td>
                                                @item.NB_DOC_BORD
                                            </td>
                                            <td style="text-align:right">
                                                @String.Format("{0:N3}", item.MontantTotale)
                                            </td>

                                            <td>
                                                @item.DAT_SAISIE_BORD.ToString("d")
                                            </td>
                                            
                                            <td style="text-align:center">
                                                <centre>
                                                    <a class="btn btn-success"  onclick="event.stopPropagation();" href="/Bordereau/ValiderBordereauJson/@item.NUM_BORD/@item.REF_CTR_BORD/@item.ANNEE_BORD"><i class="fa fa-check" aria-hidden="true"></i></a>
                                                    <button type="button" class="btn btn-danger" onclick="event.stopPropagation();RemoveBord(@item.NUM_BORD,@item.REF_CTR_BORD,@item.ANNEE_BORD)"><i class="fa fa-remove"></i> </button>
                                                 <!--  <a class="btn btn-danger"  onclick="event.stopPropagation();" href="/Bordereau/RejeterBordereauJson/@item.NUM_BORD/@item.REF_CTR_BORD/@item.ANNEE_BORD"><i class="fa fa-remove"></i> </a>--> 
                                                </centre>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@***********************************************************************************************************@

<div id="DetailleMoadel" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
             <div id="det"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


        <div class="modal modal-success fade" id="modal-success">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header"></div>
                    <div class="modal-body">
                        <p>bordereau bien valider</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline pull-left" id="close" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

     

<script src="~/Content/js/plugins/jquery/jquery-3.3.1.js"></script>
<script>



    $(document).ready(function () {

        $("#validBord tbody").delegate("tr", "click", function () {
            $(this).addClass("selected").siblings().removeClass("selected");
            var url = "/Bordereau/DetailleBord/" + $(this).data("numbord") + "/" + $(this).data("refctr") + "/" + $(this).data("anne");
            $("#det").load(url, function () {
                $("#DetailleMoadel").modal();
            });
        });
    });

  
</script>

<script>




    function RemoveBord(id,id2,id3)
    {
        if(confirm("voulez vous rejeter ce bordereau?"))
        { location.href="/Bordereau/RejeterBordereauJson/"+id+"/"+id2+"/"+id3;}
        else
        {alert("merci");}
    }
</script>