
@{
    ViewBag.Title = "DisponibleContrats";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<style>
    @@media only screen and (max-width: 800px) {

        /* Force table to not be like tables anymore */
        #no-more-tables table,
        #no-more-tables thead,
        #no-more-tables tbody,
        #no-more-tables th,
        #no-more-tables td,
        #no-more-tables tr {
            display: block;
        }

            /* Hide table headers (but not display: none;, for accessibility) */
            #no-more-tables thead tr {
                position: absolute;
                top: -9999px;
                left: -9999px;
            }

        #no-more-tables tr {
            border: 1px solid #ccc;
        }

        #no-more-tables td {
            /* Behave  like a "row" */
            border: none;
            border-bottom: 1px solid #eee;
            position: relative;
            padding-left: 50%;
            white-space: normal;
            text-align: left;
        }

            #no-more-tables td:before {
                /* Now like a table header */
                position: absolute;
                /* Top/left values mimic padding */
                top: 6px;
                left: 6px;
                width: 45%;
                padding-right: 10px;
                white-space: nowrap;
                text-align: left;
                font-weight: bold;
            }

            /*
    Label the data
    */
            #no-more-tables td:before {
                content: attr(data-title);
            }
    }

    @@media print {
    }
</style>

<div class="row">
    <div class="col-lg-12">
        <div style="padding:10px; border:1px solid black">
            <a href="@Url.Action("DisponibleContrats_Rapport",new {id= "PDF"})"   class="btn btn-danger" target="_blank"    > <i class="fa fa-fw fa-file-pdf-o"></i></a>
            <a href="@Url.Action("DisponibleContrats_Rapport",new {id= "Excel"})" class="btn btn-success" target="_blank"   ><i class="fa fa-fw fa-file-excel-o"></i></a>
            <a href="@Url.Action("DisponibleContrats_Rapport",new {id= "Word"})"  class="btn btn-primary" target="_blank"  > <i class="fa fa-fw fa-file-word-o"></i></a>
            <a href="@Url.Action("DisponibleContrats_Rapport",new {id= "Image"})" class="btn btn-info" target="_blank"      ><i class="fa fa-fw fa-file-image-o"></i></a>
        </div>
    </div>
</div>
<div class="row" id='printableArea'>
    @*<div class="col-lg-12" style="margin-bottom:1%">
                 <div class="col-sm-4"><img style="width:35%" src="~/Content/img/logo med.png" /></div>
                 <div class="col-sm-4"></div>
                 <div class="col-sm-4"></div>
             </div>
            <br />
            <div class="col-lg-12">
                <div class="col-sm-4">
                    <p><b>Adresse : </b> GP1 KM 12 EZZAHRA 
                       2034 BEN AROUS <br />
        <b>Téléphone : </b> +216 70 02 05 20 <br /> <b> Télécopie : </b> +216 71 45 09 33</p>

                </div>
                <div class="col-sm-4"></div>
                <div class="col-sm-4"></div>
            </div>
            <div class="col-lg-12">
                <div class="col-sm-4"></div>
                <div class="col-sm-4"><center><p style="font-size:20px;font-family:'Times New Roman', Times, serif;"><b>Etat des factures par adhérent</b></p></center></div>
                <div class="col-sm-4"></div>
            </div>
            <div class="col-lg-12">
                <div class="col-sm-4">
        <p><b>Date : </b> @DateTime.Now.ToString("dd/MM/yyyy") <br /> <b>Adhérent : </b>@TempData["adh"]</p>
                </div>
                <div class="col-sm-4"></div>
                <div class="col-sm-4"></div>
            </div>*@
    <div class="col-lg-12">
        <div id="no-more-tables">
            <table cellspacing="0" id="EtatDesFact" class="col-md-12 table-bordered table-striped table-condensed cf ">
                <thead>
                    <tr class="bg-primary cf">
                        <th data-priority="3"><center>Contrat</center></th>
                        <th data-priority="1">Adhérent</th>
                        <th data-priority="1"><center>Encours Facture </center></th>
                        <th data-priority="1"><center>FDG</center></th>
                        <th data-priority="1"><center>Fonds Reserve</center></th>
                        <th data-priority="1"><center>Depass Limite</center></th>
                        <th data-priority="1"><center>Encours de Financement</center></th>
                        <th data-priority="1"><center>Disponible</center></th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in ViewBag.EtatRap)
                    {
                        <tr>
                            <td data-title="Nom Acheteur">@item.REF_CTR</td>
                            <td data-title="Nom Acheteur">@item.NOM_IND</td>
                         

             

                            @if (item.Encours_Facture != null)
                            {
                                <td data-title="Mnt Facture" style="text-align:right">
                                    @String.Format("{0:N3}", item.Encours_Facture)
                                </td>
                                        }
                                        else
                                        {
                                            <td style="text-align:right" data-title="Mnt Facture">0,000 </td>
                                        }

                          


                            @if (item.Toatl_FDG != null)
                            {
                                <td data-title="" style="text-align:right">
                                    @String.Format("{0:N3}", item.Toatl_FDG)
                                </td>
                                        }
                                        else
                                        {
                                            <td style="text-align:right" data-title="">0,000  </td>
                                        }

                            @if (item.Fonds_Reserve != null)
                            {
                                <td data-title="" style="text-align:right">
                                    @String.Format("{0:N3}", item.Fonds_Reserve)
                                </td>
                            }
                            else
                            {
                                <td style="text-align:right" data-title="">0,000  </td>
                            }
                        

                            @if (item.Depass_Limite != null)
                            {
                                <td data-title="" style="text-align:right">
                                    @String.Format("{0:N3}", item.Depass_Limite)
                                </td>
                            }
                            else
                            {
                                <td style="text-align:right" data-title="">0,000  </td>
                            }

                         
                            <td data-title="" style="text-align:right">

                                @{ decimal Encours_Facture, Toatl_FDG, Fonds_Reserve, Depass_Limite, Disponible;

                                    if (item.Encours_Facture == null)
                                    {
                                        Encours_Facture = 0;
                                    }
                                    else
                                    {
                                        Encours_Facture = item.Encours_Facture;
                                    }

                                    if (item.Toatl_FDG == null)
                                    {
                                        Toatl_FDG = 0;
                                    }
                                    else
                                    {
                                        Toatl_FDG = item.Toatl_FDG;
                                    }


                                    if (item.Fonds_Reserve == null)
                                    {
                                        Fonds_Reserve = 0;
                                    }
                                    else
                                    {
                                        Fonds_Reserve = item.Fonds_Reserve;
                                    }


                                    if (item.Depass_Limite == null)
                                    {
                                        Depass_Limite = 0;
                                    }
                                    else
                                    {
                                        Depass_Limite = item.Depass_Limite;
                                    }

                                    if (item.Disponible == null)
                                    {
                                        Disponible = 0;
                                    }
                                    else
                                    {
                                        Disponible = item.Disponible;
                                    }
                                }
                                    @String.Format("{0:N3}",(Encours_Facture-Toatl_FDG-Fonds_Reserve-Depass_Limite-Disponible))
                                </td>

                            @if (item.Disponible != null)
                            {
                                <td data-title="" style="text-align:right">
                                    @String.Format("{0:N3}", item.Disponible)
                                </td>
                            }
                            else
                            {
                                <td style="text-align:right" data-title="">0,000  </td>
                            }
                       

                        </tr>
                                        }

                </tbody>
               
            </table>
        </div>

    </div>

</div>
