
@{ decimal Sum_MONT_TTC_DET_BORD = 0;
    decimal Sum_MONT_LT = 0;
     }
<style>
    @@media only screen and (max-width: 800px) {

        /* Force table to not be like tables anymore */
        #no-more-tables table,
        #no-more-tables thead,
        #no-more-tables tbody,
        #no-more-tables th,
        #no-more-tables td,
        #no-more-tables tr {
            display: block;
        }

            /* Hide table headers (but not display: none;, for accessibility) */
            #no-more-tables thead tr {
                position: absolute;
                top: -9999px;
                left: -9999px;
            }

        #no-more-tables tr {
            border: 1px solid #ccc;
        }

        #no-more-tables td {
            /* Behave  like a "row" */
            border: none;
            border-bottom: 1px solid #eee;
            position: relative;
            padding-left: 50%;
            white-space: normal;
            text-align: left;
        }

            #no-more-tables td:before {
                /* Now like a table header */
                position: absolute;
                /* Top/left values mimic padding */
                top: 6px;
                left: 6px;
                width: 45%;
                padding-right: 10px;
                white-space: nowrap;
                text-align: left;
                font-weight: bold;
            }

            /*
    Label the data
    */
            #no-more-tables td:before {
                content: attr(data-title);
            }
    }

    @@media print {
    }
</style>

<div class="row">
    <div class="col-lg-12">
        <div style="padding:10px; border:1px solid black">
            <a href="@Url.Action("FactEnLitige_Rapport",new {id= "PDF",id2=ViewBag.refadh})"   class="btn btn-danger" target="_blank"   > <i class="fa fa-fw fa-file-pdf-o"></i></a>
            <a href="@Url.Action("FactEnLitige_Rapport",new {id= "Excel",id2=ViewBag.refadh})" class="btn btn-success" target="_blank"><i class="fa fa-fw fa-file-excel-o"></i></a>
            <a href="@Url.Action("FactEnLitige_Rapport",new {id= "Word",id2=ViewBag.refadh})"  class="btn btn-primary" target="_blank"> <i class="fa fa-fw fa-file-word-o"></i></a>
            <a href="@Url.Action("FactEnLitige_Rapport",new {id= "Image",id2=ViewBag.refadh})" class="btn btn-info" target="_blank"     ><i class="fa fa-fw fa-file-image-o"></i></a>
        </div>
    </div>
</div>
<div class="row" id='printableArea'>
    @*<div class="col-lg-12" style="margin-bottom:1%">
                 <div class="col-sm-4"><img style="width:35%" src="~/Content/img/logo med.png" /></div>
                 <div class="col-sm-4"></div>
                 <div class="col-sm-4"></div>
             </div>
            <br />
            <div class="col-lg-12">
                <div class="col-sm-4">
                    <p><b>Adresse : </b> GP1 KM 12 EZZAHRA 
                       2034 BEN AROUS <br />
        <b>Téléphone : </b> +216 70 02 05 20 <br /> <b> Télécopie : </b> +216 71 45 09 33</p>

                </div>
                <div class="col-sm-4"></div>
                <div class="col-sm-4"></div>
            </div>
            <div class="col-lg-12">
                <div class="col-sm-4"></div>
                <div class="col-sm-4"><center><p style="font-size:20px;font-family:'Times New Roman', Times, serif;"><b>Etat des factures par adhérent</b></p></center></div>
                <div class="col-sm-4"></div>
            </div>
            <div class="col-lg-12">
                <div class="col-sm-4">
        <p><b>Date : </b> @DateTime.Now.ToString("dd/MM/yyyy") <br /> <b>Adhérent : </b>@TempData["adh"]</p>
                </div>
                <div class="col-sm-4"></div>
                <div class="col-sm-4"></div>
            </div>*@
    <div class="col-lg-12">
        <div id="no-more-tables">
            <table cellspacing="0" id="EtatDesFact" class="col-md-12 table-bordered table-striped table-condensed cf ">
                <thead>
                    <tr class="bg-primary cf">
                        <th data-priority="3"><center>Acheteur</center></th>
                        <th data-priority="1">Réf. Facture</th>
                        <th data-priority="1"><center>Date Facture </center></th>
                        <th data-priority="1"><center>Montant Facture</center></th>
                        <th data-priority="1"><center>Date Litige</center></th>
                        <th data-priority="1"><center>Montant Litige</center></th>
                        <th data-priority="1"><center>Echéance Litige</center></th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in ViewBag.EtatRap)
                    {
                        <tr>
                            <td data-title="Nom Acheteur">@item.NOM_IND</td>
                            <td data-title="Nom Acheteur">@item.REF_DOCUMENT_DET_BORD</td>

                            @if (item.DAT_DET_BORD != null)
                            {
                                <td data-title="Date Bordereau">
                                    @item.DAT_DET_BORD.ToString("dd/MM/yyyy")
                                </td>
                            }
                            else
                            {
                                <td data-title="Date Bordereau">
                                    @item.DAT_DET_BORD
                                </td>
                            }

                            @if (item.MONT_TTC_DET_BORD != null)
                            {
                                <td data-title="Mnt Facture" style="text-align:right">
                                    @String.Format("{0:N3}", item.MONT_TTC_DET_BORD)
                                    @{Sum_MONT_TTC_DET_BORD += item.MONT_TTC_DET_BORD;} 

                                  </td>
                                        }
                                        else
                                        {
                                <td style="text-align:right" data-title="Mnt Facture">0,000 </td>
                            }

                            @if (item.DAT_LIT != null)
                            {
                                <td data-title="Date Bordereau">
                                    @item.DAT_LIT.ToString("dd/MM/yyyy")
                                </td>
                            }
                            else
                            {
                                <td data-title="Date Bordereau">
                                    @item.DAT_LIT
                                </td>
                            }


                            @if (item.MONT_LT != null)
                            {
                                <td data-title="" style="text-align:right">
                                    @String.Format("{0:N3}", item.MONT_LT)
                                    @{Sum_MONT_LT += item.MONT_LT;}
                                    
                                </td>
                            }
                            else
                            {
                                <td style="text-align:right" data-title="">0,000  </td>
                            }

                           
                            @if (item.ECH_LIT != null)
                            {
                                <td data-title="Echéance">
                                    @item.ECH_LIT.ToString("dd/MM/yyyy")
                                </td>
                            }
                            else
                            {
                                <td data-title="Echéance">
                                    @item.ECH_LIT
                                </td>
                            }
                         
                        </tr>
                    }

                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="3"> Total : </td>
                        <td data-title="" style="text-align:right">
                            @String.Format("{0:N3}", Sum_MONT_TTC_DET_BORD)
                        </td>
                        <td></td>
                        <td data-title="" style="text-align:right">
                            @String.Format("{0:N3}", Sum_MONT_LT)
                        </td>
                        <td></td>
                    </tr>
                </tfoot>
            </table>
        </div>

    </div>

</div>

